<div class="bg-container pt-5">
  <div class="container pt-5">
    <div class="row">
    <div class="col-12">
      <div class="d-flex flex-column align-items-center">
        <h1>Make the New Year a special one—together</h1>
        <p>Whether you’re looking to make more friends, boost your career, meet fitness goals, or incorporate self-care into your routine, you can make your resolution stick with support from your community.</p>
      </div>
    </div>


    </div>
  </div>
  <app-special-cards></app-special-cards>
  <app-meetup-video></app-meetup-video>
</div>

<app-bottom-section></app-bottom-section>
