<div class="bg-container">
  <div class="container container-1">
    <div class="row d-flex flex-row align-items-center">

        <div class="col-12 col-md-4 cont">
          <h2>Do more of what you love</h2>
          <div class="d-flex flex-row">
            <p class="para">Find an Event<span style="color: white; margin-left: 16px; margin-right: 16px;">|</span> </p>
            <p class="para">Start a Group<span style="color: white; margin-left: 16px; margin-right: 16px;">|</span> </p>
            <p class="para">Get the app</p>
          </div>
        </div>
    <div class="col-12 col-md-4 main-cont">
      <div class="d-flex flex-column cont-2">
        <p><a href="/register">SignUp</a></p>
        <p><a href="/login">LogIn</a></p>
        <p>Help</p>
      </div>
      <div class="d-flex flex-column cont-3">
        <p>About</p>
        <p>BLog</p>
        <p>Careers</p>
      </div>
    </div>

<div class="col-12 col-md-4 d-flex flex-column justify-content-md-end cont-4">
<h3>Follow Us</h3>
<div class="d-flex flex-row mt-3">
  <i class="fab fa-facebook-f sec-2-icon"></i>
  <i class="fab fa-twitter sec-2-icon"></i>
  <i class="fab fa-google sec-2-icon"></i>
  <i class="fab fa-instagram sec-2-icon"></i>
</div>

</div>

    </div>
  </div>

</div>


<div class="bg-container-2">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 d-flex flex-wrap">
        <span>© 2022 Meetup</span>
        <span>Terms of Service</span>
        <span>Privacy Policy</span>

      </div>
    </div>
  </div>
</div>
