<div>
  <div class="container-fluid px-5 fixed-top" id="section">
    <div class="row">
      <div class="col-12">
        <div
          class="d-flex flex-row justify-content-between align-items-center cont-1 py-2 px-3"
        >
          <img src="../../../assets/images/Meetup title.svg" class="image-1" />

          <!-- <mat-slide-toggle>Slide me!</mat-slide-toggle> -->
          <ul
            class="d-flex flex-wrap align-items-center justify-content-center items-container"
          >
            <li class="mt-3 item" (click)="onCheckProfile()">User Profile</li>
            <li class="mt-3 item" routerLink="/register">
              Add Another Account
            </li>
            <li class="mt-3 item" routerLink="/changePassword">
              Change Password
            </li>
            <li class="mt-3 item" routerLink="/changeEmail">Change Email</li>

            <li class="pic-item mt-3">
              <img [src]="testImg" alt="profile_img" class="img" id="image" />

              <div class="menu" id="profileContainer">
                <div
                  class="d-flex flex-column justify-content-center align-items-center mt-4"
                >
                  <div class="profile-pic-div">
                    <img [src]="testImg" alt="profile_img" id="photo" />
                    <input type="file" id="file" />
                    <label for="file" class="upload-btn" id="uploadBtn"
                      >change profile</label
                    >
                  </div>
                </div>

                <p class="my-name text-center mb-2" style="font-weight: 600">
                  {{ userEmail }}
                </p>
                <div
                  class="dd_right mt-0 d-flex justify-content-center align-items-center mb-4"
                >
                  <ul>
                    <li>my Profile</li>
                    <li>Skills</li>
                    <li>Experience</li>
                    <li>Education Details</li>
                    <li>Acheivements</li>
                  </ul>
                </div>

                <button
                  class="logout-button btn btn-danger"
                  (click)="onLogout()"
                >
                  Logout
                </button>
                <button
                  class="logout-button btn btn-danger"
                  (click)="onDelete()"
                >
                  Delete Account
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <app-landing-page *ngIf="!userClick"></app-landing-page>

  <div class="container cont" *ngIf="userClick">
    <div class="row">
      <div class="col-12">
        <div class="container bg-container pb-5 mb-5">
          <div
            class="d-flex flex-column justify-content-center align-items-center"
          >
            <img src="../../assets/images/meetup-logo.png" class="logo mb-3" />
          </div>
          <h3 class="text-center">User Info</h3>
          <div class="d-flex justify-content-center">
            <div class="profile-pic-div-3">
              <img
                [src]="testImg"
                alt="profile_img"
                class="photo1"
                id="photo2"
              />
              <input type="file" id="file" />
            </div>
          </div>

          <p class="text-center mb-4 para-2" style="font-weight: 600">
            {{ userEmail }}
          </p>
          <table style="width: 100%; height: 40%">
            <tr>
              <th>User Name</th>
              <td>{{ name_text }}</td>
            </tr>
            <tr>
              <th>Mobile Number</th>
              <td>{{ num_text }}</td>
            </tr>
            <tr>
              <th>Role</th>
              <td>{{ role_text }}</td>
            </tr>
            <tr>
              <th>Company</th>
              <td>{{ comp_text }}</td>
            </tr>
            <tr>
              <th>Experience</th>
              <td>{{ exp_text }}</td>
            </tr>
          </table>
          <div class="btnCont">
            <button class="edit-button btn btn-danger" (click)="onCancel()">
              Back
            </button>
            <button class="edit-button btn btn-danger" (click)="onEdit()">
              Edit Profile
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
