.card {
  width: 100%;
  height: 90%;
}
.cont {
  padding-right: 10px;
  cursor: pointer;
}
.cont:hover {
  transform: scale(1.1);
}
.card-img {
  width: 100%;
  height: 250px;
}

h5 {
  font-family: "Roboto";
  font-weight: bold;
}

p {
  font-size: 14px;
}
