<img src="../../assets/images/Meetup title.svg" class="image" />
<div *ngIf="isLoading" style="text-align: center">
  <app-spinner></app-spinner>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div class="container bg-container pb-5 mb-5">
        <div class="d-flex justify-content-center">
          <img src="../../assets/images/meetup-logo.png" class="logo" />
        </div>

        <h1 class="heading mt-5 text-center mb-5">Change Your Password</h1>

        <div class="alert alert-success text-center pt-4" *ngIf="isShow">
          <p>{{ passwordMsg }}</p>
        </div>
        <p class="para mb-5 text-center" routerLink="/login" *ngIf="isShow">
          Go to Log In
        </p>

        <form
          (ngSubmit)="onSubmit(authForm)"
          #authForm="ngForm"
          *ngIf="!isLoading"
        >
          <div class="form-group">
            <label for="password">Enter new Password</label>
            <div class="form-input">
              <input
                type="password"
                id="password"
                class="form-control input"
                ngModel
                name="password"
                minlength="6"
                required
                #password="ngModel"
              />

              <span class="icon-1"
                ><i
                  class="fas fa-eye eye"
                  [ngStyle]="{ color: passwordShow ? 'black' : 'grey' }"
                  (click)="togglePassword()"
                ></i
              ></span>
            </div>
            <p style="color: red" *ngIf="!password.valid && password.touched">
              Please enter more than of 6 characters
            </p>
          </div>

          <button class="btn btn-danger" type="submit">Change Password</button>
        </form>
      </div>
    </div>
  </div>
</div>
