.container {
  display: flex;
  justify-content: center;
}

.image {
  width: 10%;
  margin-bottom: 20px;
  margin-left: 20px;
}
.logo {
  width: 15%;
}
.bg-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0), grey);
  backdrop-filter: blur(px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  border-radius: 20px;
  padding-left: 75px;
  padding-right: 60px;
  min-height: 100vh;
}

.heading {
  color: black;
  font-weight: bold;
  font-size: 30px;
}

.para {
  color: whitesmoke;
  font-size: 20px;
  cursor: pointer;
}

label {
  font-weight: bold;
}

.form-input {
  margin: 10px auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  width: 400px;
}

button {
  width: 400px;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}
